.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background-color:none;
  display: flex;
  width: 1512px;
  height: 2944px;
  position: relative;
  overflow: hidden;
}
.background {
  padding: 0px 0px 0px 0px;
  display: flex;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width:100%;
  height:100%;
  position:fixed;
}
.container {
  align-self: stretch;
  flex: 1;
  position: relative;
  filter: blur(30px);
}
.frame-9 {
  width: 1512px;
  height: 2831px;
  position: absolute;
  left: 0px;
  top: 113px;
  overflow: hidden;
}
.content-section-2 {
  padding: 160px 80px 160px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 1512px;
  height: 982px;
  position: absolute;
  left: calc(50% - 756px);
  top: 1849px;
  overflow: hidden;
}
.content-2-title {
  flex-shrink: 0;
  width: 529.48px;
  height: 147px;
  position: relative;
}
.our-pathway-to-solution {
  color: var(
    --neutral-color-80,
    linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    linear-gradient(to left, #ffffff, #ffffff)
  );
  text-align: left;
  font: 700 44px "Inter", sans-serif;
  position: absolute;
  left: calc(50% - 259.74px);
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.this-interactive-quiz-will-guide-you-through-the-process-of-selecting-the-most-appropriate-platform-and-understanding-them {
  color: var(
    --neutral-color-60,
    linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    linear-gradient(to left, #ffffff, #ffffff)
  );
  text-align: center;
  font: 400 20px/32px "Inter", sans-serif;
  position: absolute;
  left: calc(50% - 316px);
  top: 72px;
  width: 631px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-2-list {
  margin: -123px 0 0 0;
  padding: 0px 80px 0px 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1512px;
  position: relative;
}
.step-1 {
  flex-shrink: 0;
  width: 276.48px;
  height: 250.75px;
  position: static;
}
.rectangle-23787 {
  background: var(--neutral-color-white, #ffffff);
  border-radius: 30px;
  opacity: 0.4000000059604645;
  width: 106px;
  height: 106px;
  position: absolute;
  left: 165.24px;
  top: 0.23px;
}
.question-mark {
  position: absolute;
  left: 196px;
  top: 20.77px;
  overflow: visible;
}
.take-quiz {
  color: var(
    --neutral-color-80,
    linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    linear-gradient(to left, #ffffff, #ffffff)
  );
  text-align: left;
  font: 600 24px/150% "Inter", sans-serif;
  position: absolute;
  left: 163px;
  top: 135.77px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.discover-the-perfect-platform-for-your-needs-by-answering-a-few-simple-questions-about-your-goals-and-expertise {
  color: var(
    --neutral-color-60,
    linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    linear-gradient(to left, #ffffff, #ffffff)
  );
  text-align: center;
  font: 400 14px/175% "Inter", sans-serif;
  position: absolute;
  left: 80px;
  top: 188.98px;
  width: 276.48px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vector-5 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.step-2 {
  flex-shrink: 0;
  width: 276.48px;
  height: 250.75px;
  position: static;
}
.group-36 {
  width: 276.48px;
  height: 250.75px;
  position: static;
}
.match-the-platform {
  color: var(
    --neutral-color-80,
    linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    linear-gradient(to left, #ffffff, #ffffff)
  );
  text-align: center;
  font: 600 24px/150% "Inter", sans-serif;
  position: absolute;
  left: 649.48px;
  top: 135.77px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.get-paired-with-the-ideal-no-code-platform-based-on-your-quiz-results-ensuring-a-seamless-fit-for-your-project-requirements {
  color: var(
    --neutral-color-60,
    linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    linear-gradient(to left, #ffffff, #ffffff)
  );
  text-align: center;
  font: 400 14px/175% "Inter", sans-serif;
  position: absolute;
  left: 618.48px;
  top: 188.98px;
  width: 276.48px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-35 {
  width: 106px;
  height: 106px;
  position: static;
}
.rectangle-237872 {
  background: var(--neutral-color-white, #ffffff);
  border-radius: 30px;
  opacity: 0.4000000059604645;
  width: 106px;
  height: 106px;
  position: absolute;
  left: 703.73px;
  top: 0.23px;
}
.search {
  position: absolute;
  left: 729.48px;
  top: 21.77px;
  overflow: visible;
}
.vector-6 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.step-3 {
  flex-shrink: 0;
  width: 276.48px;
  height: 251.22px;
  position: static;
}
.group-362 {
  width: 276.48px;
  height: 251.22px;
  position: static;
}
.understand-result {
  color: var(
    --neutral-color-80,
    linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    linear-gradient(to left, #ffffff, #ffffff)
  );
  text-align: center;
  font: 600 24px/150% "Inter", sans-serif;
  position: absolute;
  left: 1190.97px;
  top: 136px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gain-valuable-insights-and-empower-you-to-start-building-with-confidence {
  color: var(
    --neutral-color-60,
    linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    linear-gradient(to left, #ffffff, #ffffff)
  );
  text-align: center;
  font: 400 14px/175% "Inter", sans-serif;
  position: absolute;
  left: 1156.97px;
  top: 189.21px;
  width: 276.48px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-237873 {
  background: var(--neutral-color-white, #ffffff);
  border-radius: 30px;
  opacity: 0.4000000059604645;
  width: 106px;
  height: 106px;
  position: absolute;
  left: 1241.97px;
  top: 0px;
}
.eye {
  width: 74.81px;
  height: 52.42px;
  position: static;
}
.group {
  position: absolute;
  left: 1257.97px;
  top: 27px;
  overflow: visible;
}
.ellipse-431 {
  border-radius: 50%;
  border-style: solid;
  border-color: var(--primary-pink, #d61e5c);
  border-width: 5px;
  width: 14.53px;
  height: 15.27px;
  position: absolute;
  left: 1288.1px;
  top: 44.59px;
}
.master-primary-button {
  margin: -123px 0 0 0;
  background: var(--primary-pink, #d61e5c);
  border-radius: 47.27px;
  padding: 28px 56px 28px 56px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.button-text {
  color: var(--neutral-colors-white, #ffffff);
  text-align: center;
  font: 600 28px/18px "Inter", sans-serif;
  position: relative;
}
.content-section-1 {
  padding: 160px 80px 160px 80px;
  display: flex;
  flex-direction: row;
  gap: 64px;
  align-items: center;
  justify-content: center;
  width: 1512px;
  height: 982px;
  position: absolute;
  left: 0px;
  top: 867px;
  overflow: hidden;
}
.content-1-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  width: 428px;
  position: relative;
}
.do-you-share-the-same-pain-points {
  color: var(--primary-pink, #d61e5c);
  text-align: left;
  font: 700 64px/120px "Inter", sans-serif;
  position: relative;
  align-self: stretch;
}
.content-1-list {
  padding: 24px 0px 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 784px;
  position: relative;
}
.pain-point-1 {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 24px 32px 24px 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  width: 722px;
  position: relative;
}
.vector4 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.wanting-to-create-a-website-app-for-the-business-but-have-no-coding-skills-and-want-to-minimize-the-learning-curve {
  color: var(
    --neutral-color-60,
    linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    linear-gradient(to left, #ffffff, #ffffff)
  );
  text-align: justified;
  font: 400 20px/32px "Inter", sans-serif;
  position: relative;
  width: 500px;
  height: 103px;
}
.pain-point-2 {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 24px 32px 24px 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  width: 722px;
  position: relative;
}
.vector5 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.being-overwhelmed-by-the-amount-of-available-recourses-on-the-market-looking-for-the-platform-that-fully-meet-the-requirements-and-match-the-skill-levels {
  color: var(
    --neutral-color-60,
    linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    linear-gradient(to left, #ffffff, #ffffff)
  );
  text-align: left;
  font: 400 20px/32px "Inter", sans-serif;
  position: relative;
  width: 500px;
}
.pain-point-3 {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 24px 32px 24px 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  width: 722px;
  position: relative;
}
.frame-27 {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.learning-about-each-platform-and-its-own-set-of-features-strengths-and-limitations-comprehensively-is-time-consuming {
  color: var(
    --neutral-color-60,
    linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    linear-gradient(to left, #ffffff, #ffffff)
  );
  text-align: left;
  font: 400 20px/32px "Inter", sans-serif;
  position: relative;
  width: 500px;
}
.hero {
  padding: 144px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1512px;
  height: 867px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.hero-frame-1 {
  display: flex;
  flex-direction: column;
  gap: 142px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.discover-the-perfect-app-builder-platform-for-your-business {
  color: var(
    --neutral-color-80,
    linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    linear-gradient(to left, #ffffff, #ffffff)
  );
  text-align: justified;
  font: 400 48px "Inter", sans-serif;
  position: relative;
  width: 531px;
}
.with-our-quiz {
  color: var(
    --neutral-color-80,
    linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    linear-gradient(to left, #ffffff, #ffffff)
  );
  text-align: justified;
  font: 700 64px "Inter", sans-serif;
  position: relative;
}
.button {
  flex-shrink: 0;
  width: 354px;
  height: 74px;
  position: relative;
}
.line-rounded-chevron-down {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 12px;
  overflow: hidden;
}
.chevron {
  position: absolute;
  left: 10.42px;
  top: 17.71px;
  overflow: visible;
}
.master-primary-button2 {
  background: var(--primary-pink, #d61e5c);
  border-radius: 47.27px;
  padding: 28px 56px 28px 56px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 105px;
  top: 0px;
}
.platform-logos {
  flex-shrink: 0;
  width: 531px;
  height: 531px;
  position: relative;
  overflow: hidden;
}
.app-sheet {
  width: 189.87px;
  height: 100px;
  position: absolute;
  left: 15px;
  top: 428px;
}
.app-sheet2 {
  width: 189.87px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.appy-pie {
  width: 108.44px;
  height: 100px;
  position: absolute;
  left: 291px;
  top: 374px;
}
.appy-pie2 {
  width: 108.44px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.bubble {
  width: 93.01px;
  height: 100px;
  position: absolute;
  left: 391px;
  top: 132px;
}
.bubble2 {
  width: 93.01px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.good-barber {
  width: 116.67px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 185px;
}
.good-barber2 {
  width: 116.67px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.shoutem {
  width: 297.03px;
  height: 100px;
  position: absolute;
  left: 242px;
  top: 264px;
}
.shoutem2 {
  width: 297.03px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.softr {
  position: absolute;
  left: 95px;
  top: 3px;
  overflow: visible;
}
.visual-studio {
  width: 99.43px;
  height: 100px;
  position: absolute;
  left: 192px;
  top: 145px;
}
.visual-studio2 {
  width: 99.43px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.power-app {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 155px;
  top: 314px;
}
.power-app2 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.header-1 {
  background: var(--neutral-0, #ffffff);
  border-style: solid;
  border-color: var(--neutral-2, #dee5ed);
  border-width: 0px 0px 1px 0px;
  padding: 8px 80px 8px 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1512px;
  height: 115px;
  position: sticky;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.devon-logo {
  flex-shrink: 0;
  width: 186px;
  height: 58px;
  position: relative;
}
.devon-logo2 {
  width: 186px;
  height: 58px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.auto-layout-horizontal {
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.home {
  color: #000000;
  text-align: center;
  font: 400 16px/24px "Inter", sans-serif;
  position: relative;
}
.about {
  color: #000000;
  text-align: center;
  font: 400 16px/24px "Inter", sans-serif;
  position: relative;
}
.case-studies {
  color: #000000;
  text-align: center;
  font: 400 16px/24px "Inter", sans-serif;
  position: relative;
}
.services {
  color: #000000;
  text-align: center;
  font: 400 16px/24px "Inter", sans-serif;
  position: relative;
}
.contact-me {
  color: #000000;
  text-align: center;
  font: 400 16px/24px "Inter", sans-serif;
  position: relative;
}
.blog {
  color: #000000;
  text-align: center;
  font: 400 16px/24px "Inter", sans-serif;
  position: relative;
}
.style-filled {
  background: var(--primary-pink, #d61e5c);
  border-radius: 50px;
  padding: 12px 20px 12px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.do-something {
  color: #ffffff;
  text-align: left;
  font: 400 16px/24px "DM Sans", sans-serif;
  position: relative;
}
