html {
  scroll-behavior: smooth;
  font-size: 14px;
}


/* VARIABLE COLORS */
:root {
  /* Greyscale */
  --nwhite: hsl(60, 31%, 94%);
  --nwhiteaccent: hsl(40, 18%, 97%);
  --textcolor: hsl(48, 14%, 43%);
  --accentcolor: #d61e5c;
  --nblack: hsl(50, 7%, 17%);

  /* PRIMARY */
  --teal: #00857D;

  /* SECONDARY */
  --babyblue: #92cdea;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: none;
  padding: 2.5% 5%;
}

div{
  border-radius: 20px;
}

.quiz_container {
  align-items: center;
  text-align: center;
}

.quiz_container div {
  padding: 1% 1% 2% 1%;
}

h1, h3{
  color: var(--accentcolor);
}

p {
  color: var(--textcolor);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--textcolor);
}

a:hover {
  color: var(--accentcolor);
  -webkit-filter: brightness(105%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

a:visited {
  color: var(--textcolor);
}

::selection {
  color: var(--nblack);
  background: var(--accentcolor);
}

button {
  padding: .5%;
  border: var(--accentcolor) 2px solid;
  background-color: white;
  border-radius: 1rem;
  padding: .5rem;
  margin: .5% 0.1%;
}

button:hover {
  background-color: var(--accentcolor);
  filter: invert(1);
  -webkit-filter: brightness(125%);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

button:active{
  background-color: var(--accentcolor);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

.green-text{
  color: var(--teal);
  display: inline;
}

.quiz_container {
  padding: 1rem;
}

#questions{
  display: block;

}

/* RESULTS */
#resultsPage{
  display: none;
}

.results-match{
  background-color: var(--accentcolor);
  color: white;
}

.results-bars {
  background-color: white;
  color: var(--nblack);
  display: block;
}

.results-bar-score{
  display: inline;
}

.sm-icon{
  width: 5rem;
  height: auto;
}

.results-details{
  border: var(--nblack) 2px solid;
  border-radius: 20px;
}


/* TWITTER ICON */
.icon-container {
  display: inline-block;
  position: relative;
}

.icon-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.1); */
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
}

.icon-container:hover .icon-overlay {
  display: flex;
}

/* CSS for the tooltip text */
.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background-color: black;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.icon-container:hover .tooltip {
  opacity: 1;
}

.icon-container:hover img {
  filter: brightness(110%);
}

/* CSS for the rounded Twitter icon */
.twitter-icon {
  border-radius: 10px; /* Adjust the value to control the amount of rounding */
}