html {
    scroll-behavior: smooth;
    font-size: 14px;
  }
  
  :root {
    --nwhite: hsl(60, 31%, 94%);
    --nwhiteaccent: hsl(40, 18%, 97%);
    --textcolor: hsl(48, 14%, 43%);
    --accentcolor: hsl(41, 68%, 83%);
    --nblack: hsl(50, 7%, 17%);
    --adoblue: #1a202c;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  body {
    background-color: var(--nwhite);
  }
  
  .body_header {
    padding: 4% 0% 2% 0%;
    text-transform: uppercase;
    font-size: 1.78rem;
    text-align: center;
    font-weight: 900;
    font-stretch: expanded;
    color: var(--nblack);
  }
  
  .body h3 {
    text-align: center;
    font-weight: 500;
    color: var(--textcolor);
    padding-bottom: 3%;
  }
  
  p {
    color: var(--textcolor);
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--textcolor);
  }
  
  a:hover {
    color: var(--textcolor);
    -webkit-filter: brightness(105%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  
  a:visited {
    color: var(--textcolor);
  }
  
  ::selection {
    color: var(--nblack);
    background: var(--accentcolor);
  }