<!DOCTYPE html>
<html lang="en">

<!--
NOTES:
    remove <br> 
-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="No Code Quiz">
    <meta name="author" content="Summer 2023 MBS Externship - Data Storytelling Team">
    <title>Quiz for Selecting No-Code App Development Tools</title>

    <!-- STYLE -->
    <link href="style\style.css" rel="stylesheet">
    <!-- Uncomment later & remove line above: 
    <link href="https://raw.githubusercontent.com/aidanandrucyk/mbs_data_storytelling/main/style/style.css" rel="stylesheet">
    -->
    <!-- Vendor CSS Files -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

</head>

<body>
    <!-- CODE HERE -->
    <div class="quiz_container">

        <h1>Find a No-Code App Builder!</h1>

        <p>By Data Storytelling</p>
        <br>

        <!-- @Uthara -->
        <div class="quiz_dynamic">

            <div id="questionsPage">

                <h2>QUESTIONS</h2>

                <div class="yes_no">
                    <h3>Yes or No Questions</h2>
                        <ol class="yes_no_list">
                            <li class="yes_no_question"> 1. Do you intend for your project to handle high traffic?
                                (high ex: Uber, Instagram, Airbnb) (low ex: Local Restaurant, Local Bowling Alley, small
                                niche
                                hobbies/interests)
                                <a href=""><button>yes</button></a>
                                <a href=""><button>no</button></a>
                            </li>
                            <li class="yes_no_questions"> 2. Do you plan on adding new features to your app after
                                publication?
                                (Ex. Instagram stories, snapchat updates)
                                (low ex: order notifs, entry updates, updating a menu, change/update notifs)
                                <a href=""><button>yes</button></a>
                                <a href=""><button>no</button></a>
                            </li>
                            <li class="yes_no_questions">
                                3. Must your app contain large-scale features?
                                (Ex. Search algorithms, large number of files, hosts wide variety of data/ distinct
                                customizations/
                                features)
                                <a href=""><button>yes</button></a>
                                <a href=""><button>no</button></a>
                            </li>
                            <li class="yes_no_questions">
                                4. Do you need your app to be in any language other than english?
                                <a href=""><button>yes</button></a>
                                <a href=""><button>no</button></a>
                            </li>
                            <li class="yes_no_questions">
                                5.Does your audience include non-English speaking users?
                                <a href=""><button>yes</button></a>
                                <a href=""><button>no</button></a>
                            </li>
                        </ol>
                </div>


                <div class="select_qs">
                    <h3>Select One Questions</h2>
                        <ol class="select_one_list">
                            <li class="select_one_question"> 6. How would you like to manage data for your app?
                                <br>
                                <a href=""><button>SELECT</button></a> With the platform to build the app (i.e. AWS,
                                Azure, etc.)
                                <br>
                                <a href=""><button>SELECT</button></a> Using Google Workspace (i.e. Google Sheets)
                                <br>
                                <a href=""><button>SELECT</button></a> Using Office 365 (i.e. Microsoft Excel)
                                <br>
                                <a href=""><button>SELECT</button></a> My app does not have any data requirements
                                <br>
                            </li>

                            <br>

                            <li class="select_one_question"> 7. What type of application would you like to build?
                                <br>
                                <a href=""><button>SELECT</button></a>
                                Website
                                <br>
                                <a href=""><button>SELECT</button></a>
                                Mobile App (e.g. iOS and/or Android mobile device)
                                <br>
                            </li>

                            <br>

                            <li class="select_one_question"> 8. What amount are you willing to spend per month?
                                <p>(Including technical support)</p>
                                <a href=""><button>SELECT</button></a> $0
                                <br>
                                <a href=""><button>SELECT</button></a> $0 - $50 ($0-$600 per year)
                                <br>
                                <a href=""><button>SELECT</button></a> $50 - $100 ($600-$1200 per year)
                                <br>
                                <a href=""><button>SELECT</button></a> $101 - $200 ($1200-$2400 per year)
                                <br>
                                <button>SELECT</button> $200+ ($2,400+ per year)
                                <br>
                            </li>
                        </ol>
                </div>


                <div class="ranking">
                    <h3>Ranking Preferences</h2>
                        <p>CUSTOMIZATION - how precisely the programmer can depict their vision of the final product
                            on the platform itself.
                        </p>
                        <p>
                            BUILD TIME - The amount of time it takes for the programmer to complete the product from
                            start to finish using this platform. Build Time does not reflect how long a new programmer
                            takes to learn how to use the platform.
                        </p>
                        <p>
                            COST - how much does the platform cost to use in United States Dollars (USD).
                        </p>
                        <p>
                            USER FRIENDLINESS - how easy the platform is for the programmer to use or how likely it
                            is that the programmer runs into a problem
                        </p>

                        <ol class="select_one_list">
                            <li class="select_one_question"> 6. How would you like to manage data for your app?
                                Each category has a number corresponding to it (ex. '1' corresponds to Customization).
                                For the questions below, select the number associated with the category you want to
                                answer with. Please select each category only once.

                                12) Select the the category that is your HIGHEST priority for your platform:
                                Customization
                                Build time
                                Cost
                                User friendliness

                                13) Select the the category that is your SECOND HIGHEST priority for your platform:
                                Customization
                                Build time
                                Cost
                                User friendliness

                                14) Select the the category that is your THIRD HIGHEST priority for your platform:
                                Customization
                                Build time
                                Cost
                                User friendliness

                            </li>
                        </ol>
                </div>

                <button id="submit" onclick="submitQuiz()">Submit Quiz</button>


            </div>
            <div id="resultsPage">
                <div class="results">
                    <h2>RESULTS</h2>
                    <h4 class="platform-name"></h4>
                    <img class="large-image" src="" alt="image">

                    <h4>You are a</h3>
                        <h3 class="dnd-name"></h3>
                        <p class="dnd-description"></p>

                        <h3>What's <p class="green-text">your</p> story?</h3>
                        <div class="results-match">
                            <h4>Your Character Match:</h4>
                            <h2 class="results-rating"> </h2>
                            <h3 class="dnd-name">
                                </h2>
                                <div class="results-bars">
                                    <div class="results-bar-score">
                                        <img class="sm-icon" src="assets/Avatars/druid.png" alt="">
                                        <h4>Bubble</h4>
                                        <h5>80%</h5>
                                    </div>
                                    <div class="results-bar-score">
                                        <img class="sm-icon" src="assets/Avatars/druid.png" alt="">
                                        <h4>Bubble</h4>
                                        <h5>80%</h5>
                                    </div>
                                </div>
                        </div>

                        <div class="results-details">
                            <h4>Detailed Analysis:</h4>
                            <img class="platform-icon" src="" alt="">
                            <p class="platform-description"></p>
                        </div>


                </div>

                <button id="retakeButton" onclick="retakeQuiz()">Retake Quiz</button>

                <div class="email-results">
                    <!-- @Ji -->
                    <h2>SHARE YOUR RESULTS!</h2>
                    <label for="recipient">Recipient:</label>
                    <input type="email" id="recipient" required>
                    <button id="sendEmailButton">Send Quiz Results</button>
                </div>

                <div class="twitter-results">
                    <p>&nbsp;</p>
                    <p><br>
                    </p>
                    <p><br>
                    </p>

                    <div class="icon-container"> <img src="assets/nav icons/twitterXicon (1).png" alt="(twitter) icon" onclick="tweet()"
                            class="twitter-icon" height="48" width="48">
                        <div class="icon-overlay" onclick="tweet()">
                            <div class="tooltip">Tweet your results</div>
                        </div>
                    </div>

                    <div class="icon-container"> <img src="assets/nav icons/FB_Vector.png" alt="Facebook icon"
                            onclick="shareOnFacebook()" height="48" width="48">
                        <div class="icon-overlay" onclick="shareOnFacebook()">
                            <div class="tooltip">Share on Facebook</div>
                        </div>
                    </div>

                </div>


                <div class="quiz-feedback">
                    <!-- @Ji -->
                    <h2>Survey</h2>
                    <p>Enter your email here:</p>
                </div>

            </div>
        </div>

    </div>

    <!-- JAVASCRIPT -->
    <script src="https://requirejs.org/docs/release/2.3.6/minified/require.js"></script>
    <script src="scripts/quiz_logic.js" defer></script>
    <script src="scripts/email_results.js"></script>

    <script src="scripts/sendemail.js"></script>

</body>


</html>